.side__bar
  .image_area
    = image_tag ("left-bn.gif")
  .sports__maker
    %h2 トレーニングウェア
    %ul
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
      %li
        %p 2XU
        %p ツータイムズユー
  .guide
    %h2 トレーニングウェアガイド
    %ul
      %li コンプレッションインナーとは？
      %li コンプレッションインナーとは？
      %li コンプレッションインナーとは？
      %li コンプレッションインナーとは？
      %li コンプレッションインナーとは？



