!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SportsSite
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css", :rel => "stylesheet"}
  %body
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"}
    = yield

